$main-font: 'Roboto', sans-serif;

@import 'colors'; 
@import 'sidebar'; 
@import 'top'; 
@import 'about'; 
@import 'experience'; 

//notes of things to fix: 
//text in sidebar att screen 700

body {
    margin: 0;
    font-family: $main-font;
}

.main {
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    float: right;
    @media screen and (max-width: 800px) {
        width: 100%;
    }
}
  
