.sidebar {
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: #5f6d7e;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar .profile {
  max-width: 200px;
  width: 100%;
  width: 200px;
  max-height: 250px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.sidebar .profile .profile-image {
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  border-radius: 75px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.sidebar .profile .profile-image img {
  width: 100%;
}
.sidebar .profile .sidebar__name {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 50px;
  margin-left: 30px;
}
.sidebar .profile .sidebar__title {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 40px;
  margin-left: 30px;
}
.sidebar li > a {
  /*fix space between icon and link text*/
  display: block;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 20px;
  margin-left: 20px;
  text-decoration: none;
}
.sidebar li > a:active {
  background-color: #6cc0f7;
  color: white;
}
.sidebar li > a:focus {
  background-color: #6cc0f7;
  color: white;
}
.sidebar li > a:hover {
  background-color: #777;
  color: #fff;
}

/*fix name and title in media 700*/
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }
}
@media screen and (max-width: 700px) {
  .sidebar a {
    text-align: right;
    float: none;
    margin-right: 50px;
  }

  .profile {
    float: left;
  }
  .profile .profile-image {
    margin-bottom: 0;
    padding: 0;
    margin: 0;
  }
  .profile .sidebar__name {
    margin-bottom: 10px;
    margin-top: -50px;
  }
  .profile .sidebar__title {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin-bottom: 0px;
  }
}
.top {
  padding: 260 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: url(../images/aoraki-mountain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.top__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(95, 109, 126, 0.4);
  top: 0;
  left: 0;
  z-index: 3;
}

.top__text {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  z-index: 4;
}
.top__text h2 {
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 0 0 4px #000;
}
.top__text h5 {
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
  text-shadow: 0 0 2px #000;
}

.about {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
@media screen and (max-width: 700px) {
  .about {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }
}

.about__title {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #555;
  margin-bottom: 40px;
}

.about__text {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777;
  line-height: 1.3;
}

.about__line {
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 4px;
  background: #dddddd;
  margin-top: 40px;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  float: right;
}
@media screen and (max-width: 700px) {
  .main {
    width: 100%;
  }
}